<?xml version="1.0"?>
<robot name="planar_3dof" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="yaml_file" value="../../../../custom_urdf/config/joints_params.yaml" />
  <xacro:property name="joint_params" value="${load_yaml(yaml_file)}"/>
  <xacro:property name="joint_elbow_params" value="${joint_params['calc_params']['ros__parameters']['joint_elbow']}" />
  <xacro:property name="joint_shoulder_params" value="${joint_params['calc_params']['ros__parameters']['joint_shoulder']}" />
  <xacro:property name="joint_wrist_params" value="${joint_params['calc_params']['ros__parameters']['joint_wrist']}" />
  <xacro:property name="joint_fixed_end_params" value="${joint_params['calc_params']['ros__parameters']['joint_fixed_end']}" />

  <xacro:property name="joint_shoulder_origin_xyz" value="${joint_shoulder_params[0]} ${joint_shoulder_params[1]} ${joint_shoulder_params[2]}" />
  <xacro:property name="joint_shoulder_origin_rpy" value="${joint_shoulder_params[3]} ${joint_shoulder_params[4]} ${joint_shoulder_params[5]}" />
  <xacro:property name="joint_shoulder_axis" value="${int(joint_shoulder_params[6])} ${int(joint_shoulder_params[7])} ${int(joint_shoulder_params[8])}" />

  <xacro:property name="joint_elbow_origin_xyz" value="${joint_elbow_params[0]} ${joint_elbow_params[1]} ${joint_elbow_params[2]}" />
  <xacro:property name="joint_elbow_origin_rpy" value="${joint_elbow_params[3]} ${joint_elbow_params[4]} ${joint_elbow_params[5]}" />
  <xacro:property name="joint_elbow_axis" value="${int(joint_elbow_params[6])} ${int(joint_elbow_params[7])} ${int(joint_elbow_params[8])}" />

  <xacro:property name="joint_wrist_origin_xyz" value="${joint_wrist_params[0]} ${joint_wrist_params[1]} ${joint_wrist_params[2]}" />
  <xacro:property name="joint_wrist_origin_rpy" value="${joint_wrist_params[3]} ${joint_wrist_params[4]} ${joint_wrist_params[5]}" />
  <xacro:property name="joint_wrist_axis" value="${int(joint_wrist_params[6])} ${int(joint_wrist_params[7])} ${int(joint_wrist_params[8])}" />

  <xacro:property name="joint_fixed_end_origin_xyz" value="${joint_fixed_end_params[0]} ${joint_fixed_end_params[1]} ${joint_fixed_end_params[2]}" />
  <xacro:property name="joint_fixed_end_origin_rpy" value="${joint_fixed_end_params[3]} ${joint_fixed_end_params[4]} ${joint_fixed_end_params[5]}" />
  <xacro:property name="joint_fixed_end_axis" value="${int(joint_fixed_end_params[6])} ${int(joint_fixed_end_params[7])} ${int(joint_fixed_end_params[8])}" />

  <xacro:property name="link_body_xyz" value="${joint_shoulder_params[0]/2} ${joint_shoulder_params[1]/2} ${joint_shoulder_params[2]/2}" />
  <xacro:property name="link_body_rpy" value="${joint_shoulder_params[3]} ${joint_shoulder_params[4]} ${joint_shoulder_params[5]}" />
  <xacro:property name="link_body_length" value="${joint_shoulder_params[2]}" />

  <xacro:property name="link_arm_xyz" value="${joint_elbow_params[0]/2} ${joint_elbow_params[1]/2} ${joint_elbow_params[2]/2}" />
  <!-- <xacro:property name="link_arm_rpy" value="${joint_elbow_params[3]} ${joint_elbow_params[4]} ${joint_elbow_params[5]}" /> -->
  <xacro:property name="link_arm_rpy" value="0 1.5708 0" />
  <xacro:property name="link_arm_length" value="${joint_elbow_params[0]}" />

  <xacro:property name="link_forearm_xyz" value="${joint_wrist_params[0]/2} ${joint_wrist_params[1]/2} ${joint_wrist_params[2]/2}" />
  <xacro:property name="link_forearm_rpy" value="0 1.5708 0" />
  <xacro:property name="link_forearm_length" value="${joint_wrist_params[0]}" />

  <xacro:property name="link_hand_xyz1" value="${joint_fixed_end_params[0]/2} ${joint_fixed_end_params[1]/2} ${joint_fixed_end_params[2]/2}" />
  <xacro:property name="link_hand_xyz2" value="${joint_fixed_end_params[2]/2} ${joint_fixed_end_params[1]/2} ${joint_fixed_end_params[0]/2}" />  
  <xacro:property name="link_hand_rpy1" value="0 0 1.5708" />
  <xacro:property name="link_hand_rpy2" value="0 1.5708 0" />
  <xacro:property name="link_hand_length" value="${joint_fixed_end_params[2]}" />

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.4 0.4 0.4 1.0" />
  </material>

  <xacro:macro name="world_template" params="name rpy xyz boxsize">
    <link name="${name}">
      <visual>
      <origin rpy="${rpy}" xyz="${xyz}" />
      <geometry>
        <box size="${boxsize}"/>
      </geometry>
      <material name="grey">
      </material>
    </visual>
    <collision>
      <origin rpy="${rpy}" xyz="${xyz}" />
      <geometry>
        <box size="${boxsize}"/>
      </geometry>
      <material name="grey"/>
    </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="body_template" params="name rpy xyz length radius">
    <link name="${name}">
      <visual>
      <origin rpy="${rpy}" xyz="${xyz}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}"/>
      </geometry>
      <material name="grey">
      </material>
    </visual>
    <collision>
      <origin rpy="${rpy}" xyz="${xyz}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}"/>
      </geometry>
      <material name="grey"/>
    </collision>
    </link>
  </xacro:macro>

    <xacro:macro name="joint_template" params="name type parent child xyz rpy axis">
    <joint name="${name}" type="${type}">
      <parent link="${parent}" />
      <child link="${child}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <xacro:if value="${type == 'revolute'}">
      <axis xyz="${axis}" />
      <limit lower="-1.57" upper="1.57" effort="0" velocity="0.5" />
    </xacro:if>
    </joint>
  </xacro:macro>

  <xacro:macro name="link_template" params="name xyz rpy length radius material">
    <link name="${name}">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}" />
      </geometry>
      <material name="${material}"/>
    </visual>
    <collision>
      <origin rpy="${rpy}" xyz="${xyz}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}" />
      </geometry>
      <material name="${material}"/>
    </collision>
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>
  </xacro:macro>

  <xacro:macro name="hand_template" params="name xyz1 xyz2 rpy1 rpy2 length radius material" >
    <link name="${name}">
    <visual>
      <origin xyz="${xyz1}" rpy="${rpy1}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}" />
      </geometry>
      <material name="${material}"/>
    </visual>
    <collision>
      <origin rpy="${rpy2}" xyz="${xyz2}" />
      <geometry>
        <cylinder length="${length}" radius="${radius}" />
      </geometry>
      <material name="${material}"/>
    </collision>
    <inertial>
      <origin xyz="${xyz1}" rpy="${rpy2}" />
      <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>
  </xacro:macro>

  <world_template name="world" rpy="0 0 0" xyz="0 0 0.15" boxsize="0.3 0.3 0.3" />
  <body_template name="body" rpy="${link_body_rpy}" xyz="${link_body_xyz}" length="${link_body_length}" radius="0.075" />


  <joint name="fixed" type="fixed">
    <parent link="world" />
    <child link="body" />
  </joint>


  <link_template name="arm" rpy="${link_arm_rpy}" xyz="${link_arm_xyz}" length="${link_arm_length}" radius="0.05" material="red" />

  <joint_template name="shoulder" type="revolute" parent="body" child="arm" xyz="${joint_shoulder_origin_xyz}" rpy="${joint_shoulder_origin_rpy}" axis="${joint_shoulder_axis}" />

  <link_template name="forearm" rpy="${link_forearm_rpy}" xyz="${link_forearm_xyz}" length="${link_forearm_length}" radius="0.05" material="grey" />

  <joint_template name="elbow" type="revolute" parent="arm" child="forearm" xyz="${joint_elbow_origin_xyz}" rpy="${joint_elbow_origin_rpy}" axis="${joint_elbow_axis}" />

  <hand_template name="hand" xyz1="${link_hand_xyz1}" xyz2="${link_hand_xyz2}" rpy1="${link_hand_rpy1}" rpy2="${link_hand_rpy2}" length="${link_hand_length}" radius="0.05" material="red" />

  <joint_template name="wrist" type="fixed" parent="forearm" child="hand" xyz="${joint_wrist_origin_xyz}" rpy="${joint_wrist_origin_rpy}" axis="${joint_wrist_axis}" />


<link name="end">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.15 0.15"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.15 0.15"/>
      </geometry>
      <material name="grey"/>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>

  <joint_template name="fixed_end" type="fixed" parent="hand" child="end" xyz="${joint_fixed_end_origin_xyz}" rpy="${joint_fixed_end_origin_rpy}" axis="${joint_fixed_end_axis}" />


</robot>
